* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: green;
}

/* Classi riutilizzabili */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: violet;
}

ul li {
 display: inline-block;
 padding: 0 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  padding: 0 5px;
}

/* / classi riutilizzabili */

/* Inizio intestazione */
header {
  height: 600px;
  background-color: blue;
}

.header-navbar {
  height: 180px;
  background-color: grey;
}

/* Navbar-top */
.navbar-top {
  height: 90px;
  line-height: 90px;
  background-color: rgb(205, 226, 224);
}

/* Inizio nav di sinistra */
.navbar-top .lista-sinistra li a {
  color: rgba(5, 5, 5, 0.82);
}

#contact-us {
  border-left: 1px solid grey;
  padding-left: 30px;
}
/* / nav di sinistra */

/* Nav di destra */
.fa-search{
  color: rgb(90, 100, 237);
}

.log {
  color: rgb(251, 121, 65);
  background-color: white;
  border: 1px solid rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
}

.get {
  color: white;
  background-color: rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
}
/* / nav di destra */
/* / navbar-top */

/* Navbar-bottom */
.navbar-bottom {
  height: 90px;
  line-height: 90px;
  background-color: white;
}

.navbar-bottom .nav li a {
  color: rgba(5, 5, 5, 0.82);
}

/* / navbar-bottom */

/* / intestazione */

/* Inizio corpo principale */
main {
  height: 1000px;
  background-color: red;
}

/* /corpo principale */

/* Inizio parte finale */
footer {
  height: 400px;
  background-color: green;
}

/* /parte finale */
