* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: green; */
  font-family: 'Roboto', sans-serif;
}

/* Classi riutilizzabili */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

ul li {
 display: inline-block;
 margin: 0 10px 0 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a .greater{
  padding: 20px 30px;
}

i {
  padding: 0 5px;
}

.fa-check-circle {
  color: rgb(251, 121, 65);
}

.btn {
  color: white;
  background-color: rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
}

.learn {
  width: 40%;
  margin: 0 auto;
}
/* / classi riutilizzabili */



/* Inizio intestazione */
/* Navbar-top */
.navbar-top {
  height: 125px;
  line-height: 125px;
  background-color: rgb(205, 226, 224);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/* Inizio nav di sinistra */
.navbar-top .lista-sinistra li a {
  color: rgba(5, 5, 5, 0.82);
}

#contact-us {
  border-left: 1px solid grey;
  padding-left: 30px;
}
/* / nav di sinistra */

/* Nav di destra */
.fa-search{
  color: rgb(90, 100, 237);
}

.log {
  color: rgb(251, 121, 65);
  background-color: white;
  border: 1px solid rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
}
/* / nav di destra */
/* / navbar-top */

/* Navbar-bottom */
.navbar-bottom {
  height: 125px;
  line-height: 125px;
  background-color: white;
  width: 100%;
  margin-top: 125px;
}

.navbar-bottom .nav li a {
  color: rgba(5, 5, 5, 0.82);
}
/* / navbar-bottom */

/* Inizio jumbotron */
.jumbotron {
  background-image: url('../img/jumbotron.png');
  background-size: 100%;
  position: relative;
}

.informazioni {
  position: relative;
  width: 50%;
  height: 630px;
}

.testo {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-30%);
}

.testo h1 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #33475B;
}

.jumbotron .informazioni .testo p{
  margin-bottom: 40px;
  text-align: left;
}

.testo ul li {
  margin-bottom: 40px;
}

.jumbotron-bottom {
  height: 55px;
  width: 100%;
  background-color: rgb(161, 230, 211);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/* / jumbotron */
/* / intestazione */



/* Inizio corpo principale */
main {
  /* height: 3000px; */
  margin-bottom: 30px;
}

/* Inizio sezione powerful */
.powerful {
  text-align: center;
  padding-bottom: 40px;
  background-color: #F5F8FA;
}

.cubo {
  width: 300px;
  margin-top: 40px;
}

.powerful h2 {
  margin-bottom: 40px;
}

.powerful p {
  margin-bottom: 40px;
}

.learn-more {
  background-color: white;
}

.learn-more-left {
  width: 25%;
  text-align: center;
}

.libro {
  width: 130px;
  margin-top: 50px;
}

.learn-more-right {
  width: 75%;
  text-align: left;
}

.learn-more-right h3{
  margin-top: 50px;
  margin-bottom: 40px;
}

.learn-more-right p {
  width: 70%;
  text-align: left;
}

.learn-more-right h4 {
  text-transform: uppercase;
}

.learn-more-right h4::after {
  content: '';
  display: inline-block;
  width: 60%;
  height: 2px;
  background-color: grey;
  margin-left: 50px;
  margin-bottom: 5px;
}

.learn-more-right ul {
  margin: 20px 0;
}

.learn-more-right ul li {
  padding-left: 0;
}
/* / sezione powerful */

/* Inizio sezione hub */
.hub {
  padding-bottom: 50px;
  background-color: #F5F8FA;
}

.prodotto {
  width: calc(92% / 3);
  background-color: white;
  display: inline-block;
  text-align: center;
}

.prodotto.center {
  margin: 0 4%;
}

.hub img {
  width: 130px;
  height: 100px;
  margin: 20px 0;
}

.hub h3 {
  margin-bottom: 30px;
}

.hub p {
  line-height: 1.6;
  margin: 0 10%;
}

.hub p::after {
  content: '';
  display: inline-block;
  width: 98%;
  height: 2px;
  background-color: grey;
  margin: 80px 0px 20px;
}

.hub h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hub ul {
  margin: 0 0 30px 30px;
}

.hub li {
  display: block;
  text-align: left;
}

.prodotto .btn {
  margin-bottom: 20px;
}
/* / sezione hub */

/* Inizio section learn-grow */
.learn-grow {
  background-color: #00B4AD;
  color: white;
  padding: 30px 0 80px;
}

.learn-grow .container h2,p {
  text-align: center;
  padding-bottom: 30px;
}

.learn-grow h2 {
  padding: 20px 0;
}

.box-community {
  width: 100%;
  padding-bottom: 50px;
}

.row-top {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid white;
}

.row-bottom {
  height: 150px;
  width: 100%;
}

.item {
  width: calc(100% / 4);
  border-right: 1px solid white;
}

.item:last-child {
  border-right: none;
}

.icon {
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
}

.icon img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 10px;
}

#hubspot-marketlace {
  font-weight: 100;
}

.wrapper h2 {
  font-size: 50px;
  position: relative;
  padding-top: 10px;
}

.wrapper h2::after {
  content: "+";
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
/* / section learn-grow */

/* Inizio section start-growing */
.start-growing {
  /* height: 600px; */
  background-color: white;
  padding-top: 50px;
  padding-bottom: 15px;
}
/* Inizio start-growing-top */
.start-growing-top {
  padding-bottom: 30px;
}

.start-growing-top h2{
  font-size: 40px;
  margin-bottom: 50px;
}

.text-left {
  width: 30%;
  background-color: white;
  padding-left: 60px;
  padding-right: 100px;
}

.text-left p {
  text-align: left;
}

.text-right {
  width: 50%;
}

.text-right img {
  width: 100px;
  padding: 10px 0px;
  margin: 0 10px;
  vertical-align: middle;
}

.text-right .img-top {
  margin-bottom: 30px;
}

.text-right .img-top,.img-bottom {
  text-align: right;
}
/* / start-growing-top */

/* Inizio start-growing-bottom */
.box-left {
  width: 50%;
}

.start-growing-bottom h2 {
  font-size: 40px;
}

main .start-growing .start-growing-bottom h2,p,ul {
  padding-bottom: 50px;
}

.start-growing-bottom p {
  text-align: left;
}


.box-right img {
  width: 300px;
}
/* / start-growing-bottom */
/* / start-growing */

/* /corpo principale */



/* Inizio parte finale */
footer {
  background-color: #2D3E50;
  height: 1000px;
  color: white;
}

.footer-top {
  height: 80%;
  background-color: lightgreen;
}

.footer-top .col {
  padding-right: 130px;
}

.col:last-child {
  padding-right: 0;
}

.footer-top h4 {
  padding: 30px 0;
}

.footer-top ul li {
  display: block;
  padding-bottom: 20px;
}

.footer-top ul li a {
  color: white;
}

.footer-top i {
  padding-right: 20px;
}

#button {
  color: #2D3E50;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: white;
}

.footer-bottom {
  height: 20%;
  background-color: pink;
}

/* /parte finale */
