* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: green; */
  font-family: 'Roboto', sans-serif;
}

/* Classi riutilizzabili */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

ul li {
 display: inline-block;
 padding: 0 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  padding: 0 5px;
}
/* / classi riutilizzabili */



/* Inizio intestazione */
/* Navbar-top */
.navbar-top {
  height: 125px;
  line-height: 125px;
  background-color: rgb(205, 226, 224);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/* Inizio nav di sinistra */
.navbar-top .lista-sinistra li a {
  color: rgba(5, 5, 5, 0.82);
}

#contact-us {
  border-left: 1px solid grey;
  padding-left: 30px;
}
/* / nav di sinistra */

/* Nav di destra */
.fa-search{
  color: rgb(90, 100, 237);
}

.log {
  color: rgb(251, 121, 65);
  background-color: white;
  border: 1px solid rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
}

.get {
  color: white;
  background-color: rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
}
/* / nav di destra */
/* / navbar-top */

/* Navbar-bottom */
.navbar-bottom {
  height: 125px;
  line-height: 125px;
  background-color: white;
  width: 100%;
  margin-top: 125px;
}

.navbar-bottom .nav li a {
  color: rgba(5, 5, 5, 0.82);
}
/* / navbar-bottom */

/* Inizio jumbotron */
.jumbotron {
  height: 650px;
  width: 100%;
  background-image: url('../img/jumbotron.png');
  background-size: 100%;
  position: relative;
  /* box-shadow: inset 2px 2px 0.2px; */
}

.informazioni {
  position: relative;
  width: 50%;
  height: 630px;
}

.testo {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-30%);
}

.testo h1 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #33475B;
}

.jumbotron .informazioni .testo p{
  margin-bottom: 40px;
}

.testo ul li {
  margin-bottom: 40px;
}

.testo ul li a{
  padding: 20px;
  background-color: rgb(251, 121, 65);
}

.jumbotron-bottom {
  height: 75px;
  width: 100%;
  background-color: rgb(161, 230, 211);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/* / jumbotron */
/* / intestazione */



/* Inizio corpo principale */
main {
  height: 1500px;
  background-color: #F5F8FA;
}

/* Inizio sezione powerful */
.powerful {
  height: 700px;
  width: 100%;
  background-color: grey;
  text-align: center;
}

.cubo {
  width: 300px;
  margin-top: 40px;
}

.powerful h2 {
  margin-bottom: 40px;
}

.powerful p {
  margin-bottom: 40px;
}

.lean-more {
  /* height: 300px; */
  background-color: white;
}

.lean-more-left {
  width: 25%;
  text-align: center;
  /* line-height: 300px; */
}

.libro {
  width: 130px;
  margin-top: 50px;
}

.btn {
  color: white;
  background-color: rgb(251, 121, 65);
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-left: 50px;
  margin-top: 40px;
}

.lean-more-right {
  width: 75%;
  text-align: left;
}

.lean-more-right h3{
  margin-top: 50px;
  margin-bottom: 40px;
}

.lean-more-right h4 {
  text-transform: uppercase;
}

.lean-more-right h4::after {
  content: '';
  display: inline;
  width: 60%;
}

.lean-more-right ul {
  margin-top: 20px;
}

.lean-more-right ul li {
  padding-left: 0;
}

.lean-more-right ul li i {
  color: rgb(251, 121, 65);
}
/* / sezione powerful */




/* /corpo principale */



/* Inizio parte finale */
footer {
  height: 400px;
  background-color: blue;
}

/* /parte finale */
